@font-face {
  font-family: "NeuvaStd";
  src: local("fonts"), url("../../fonts//NuevaStd-Bold.otf") format("truetype");
  font-weight: medium;
}

.package-card-cont {
  position: relative;
  margin: 8px 0.5px;
}

.package-card.ALLpkgdedails-card-pkg {
  box-shadow: rgb(0 0 0 / 16%) 0px 1px 4px;
  padding: 8px;
  margin: 0px;
  transition: 0.6s;
  cursor: pointer;
  z-index: 99!important;
}

.package-card .media-img {
  position: relative;
  cursor: pointer;
  height: 270px;
}
.package-card .media-img img {
  height: 100%;
  width: 100%;
}
.package-card-cont .wishlist {
  position: absolute;
  top: 4%;
  right: 9%;
  background: #fff;
  width: 38px;
  height: 38px;
  padding: 7px;
  border-radius: 50%;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
  z-index: 98!important;
  cursor: pointer;
}
.wishlist.all-pkg-whishlist{
  z-index: 98!important;
}
.package-card-cont .wishlist svg {
  font-size: 25px;
  color: #e5c454;
  cursor: pointer;
  z-index: 98!important;
}
.package-card .details {
  padding-left: 5px;
  padding-right: 5px;
}

.package-card .details h3 {
  font-size: 16px;
  margin-top: 8px;
  font-weight: 500;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
  cursor: pointer;
  margin-bottom: 5px;
}

.package-card .details .price-and-btn {
  display: grid;
  grid-template-columns: 1fr 1fr;
  cursor: pointer;
}

.package-card .details .price-and-btn {
  display: flex;
  margin: 4px 0px 5px;
  align-items: center;
  cursor: pointer;
}

.package-card .details .price-and-btn h4 {
  width: 100%;
  margin-bottom: 0px;
  font-size: 15px;
  cursor: pointer;
}

.package-card .details .price-and-btn button.btn {
  background: linear-gradient(135deg, #eccf66, #c59402);
  color: #fff;
  padding: 4px 10px;

  cursor: pointer;
}

.package-card .details .price-and-btn h4 s {
  color: #e1be48;
  padding-left: 10px;
  cursor: pointer;
}

.package-card .rating-and-discount {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0px 0px 0px;
  cursor: pointer;
}

.package-card .rating-and-discount h5 {
  margin-bottom: 0px;
  cursor: pointer;
  font-size: 15px;
}

.package-card .rating-and-discount .rating {
  float: right;
  text-align: right;
  cursor: pointer;
}

.package-card .rating-and-discount {
  align-items: center;
  cursor: pointer;
}

.package-card .rating-and-discount .rating svg {
  font-size: 20px;
  top: -3px;
  position: relative;
  cursor: pointer;
}
.container-fluid.allpkg-details-fluid {
  padding: 6px 20px!important;
}
.package-card .rating-and-discount {
  color: #e4c352;
}
.package-section-slider.common-container.allpkg-details-cont{
  padding: 0px!important;
  padding-left: 5px!important;
  padding-right: 5px!important;
}
@media only screen and (max-width: 600px) {
  .title-col.allpkg-heding-col {
    margin-bottom: 0px!important;
}
.title-col.allpkg-heding-col h2{
  margin: 5px!important;
  width: 100%;
 
}
.title-col.allpkg-heding-col h2 span{
  font-size: 16px;
}
  .media-img.coman-img.ALLpkgdedails-card-img {
    height: 150px !important;
  }
  .package-card-cont.ALLpkgdedails-cont {
    margin: 8px -7.5px!important;
  }
  .container-fluid.allpkg-details-fluid{
    padding: 0px 0px!important;
  }
  .package-card.ALLpkgdedails-card-pkg {
    padding: 4px!important;
}
.details.ALLpkgdedails-details h3{
  font-size: 13px!important;
  -webkit-line-clamp: 2!important;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
}
.rating-and-discount.ALLpkgdedails-discount h5 span{
  font-size: 13px!important;
}
.rating.ALLpkgdedails-rating svg{
  font-size: 15px!important;
  top:0px!important
}
.rating.ALLpkgdedails-rating span{
  font-size: 13px!important;
}
.price-and-btn.ALLpkgdedails-price h4{
  font-size: 12px!important;
}
.details.ALLpkgdedails-details{
  height: 80px;
}
.all-pack-slider.inner-row-package.allpkg-details-row{
  padding-top: 0px!important;
  padding-bottom: 20px!important;
}
}
