.container-fluid.subcat-fluid{
  padding:0px 0px!important;
}
.package-section-slider.common-container.subcat-camman-cont {
  padding: 0px!important;
  padding-left: 15px!important;
  padding-right: 15px!important;
}   
.pkgCarousel {
  width: 100%;
  overflow: hidden;
}

.package-card-cont {
  position: relative;
  margin: 8px 0.5px;
}
.media-img.coman-img.sub-category-card-img{
  position: relative;
}
.ribbon-wrapper {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: -3px;
  left: -3px;
}
  .ribbon {
    font: bold 15px sans-serif;
    color: #333;
    text-align: center;
    -webkit-transform: rotate(-45deg);
    -moz-transform:    rotate(-45deg);
    -ms-transform:     rotate(-45deg);
    -o-transform:      rotate(-45deg);
    position: relative;
    padding: 7px 0;
    top: 15px;
    left: -30px;
    width: 120px;
    background-color: #ebb134;
    color: #fff;
  }
.package-card {
  box-shadow: rgb(0 0 0 / 16%) 0px 1px 4px;
  padding: 8px;
  margin: 0px;
  transition: 0.6s;
  cursor: pointer;
  z-index: 99;
}
.package-card .media-img {
  position: relative;
  cursor: pointer;
  height: 270px;
}
.package-card .media-img img{
height: 100%;
width: 100%;
}
.package-card-cont .wishlist {
  position: absolute;
  top: 4%;
  right: 9%;
  background: #fff;
  width: 38px;
  height: 38px;
  padding: 7px;
  border-radius: 50%;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
  z-index: 98;
  cursor: pointer;
}

.package-card-cont .wishlist svg {
  font-size: 25px;
  color: #e5c454;
  cursor: pointer;
}
.package-card .details {
  padding-left: 5px;
  padding-right: 5px;
}

.package-card .details h3 {
  font-size: 16px;
  margin-top: 8px;
  font-weight: 500;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
  cursor: pointer;
  margin-bottom: 5px;
}

.package-card .details .price-and-btn {
  display: grid;
  grid-template-columns: 1fr 1fr;
  cursor: pointer;
}

.package-card .details .price-and-btn {
  display: flex;
  margin: 4px 0px 5px;
  align-items: center;
  cursor: pointer;
}

.package-card .details .price-and-btn h4 {
  width: 100%;
  margin-bottom: 0px;
  font-size: 15px;
  cursor: pointer;
}

.package-card .details .price-and-btn button.btn {
  background: linear-gradient(135deg, #eccf66, #c59402);
  color: #fff;
  padding: 4px 10px;

  cursor: pointer;
}

.package-card .details .price-and-btn h4 s {
  color: #e1be48;
  padding-left: 10px;
  cursor: pointer;
}

.package-card .rating-and-discount {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0px 0px 0px;
  cursor: pointer;
}

.package-card .rating-and-discount h5 {
  margin-bottom: 0px;
  cursor: pointer;
  font-size: 15px;
}

.package-card .rating-and-discount .rating {
  float: right;
  text-align: right;
  cursor: pointer;
}

.package-card .rating-and-discount {
  align-items: center;
  cursor: pointer;
}

.package-card .rating-and-discount .rating svg {
  font-size: 20px;
  top: -3px;
  position: relative;
  cursor: pointer;
}

.package-card .rating-and-discount {
  color: #e4c352;
}
.all-pack-slider.inner-row-package.sub-cat-row {
  padding-top: 0px!important;
}
.title-col.subcat-col{
  margin-bottom: 0px!important;
  margin-left: 10px;
  padding-top: 10px;
}
.package-card-cont.subcatgry-pkg-cont{
  margin: 10px 8.5px;
}
.media-img.coman-img.sub-category-card-img img {
  height: 100%;
  width: 100%;
  object-fit: cover!important;
}
@media only screen and (max-width: 600px) {
  .package-section-slider.common-container.subcat-camman-cont {
    padding-left: 5px!important;
    padding-right: 5px!important;
  }
  .title-col.subcat-col {
    padding-top: 0px;
    margin-left: 0px;
}
  .package-card-cont .wishlist {
    position: absolute;
    top: 4%;
    right: 8%;
    background: #fff;
    width: 30px;
    height: 30px;
    padding: 1px 5px;
    border-radius: 50%;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    z-index: 99;
    cursor: pointer;
  }

  .package-card-cont .wishlist svg {
    font-size: 20px;
    color: #e5c454;
    cursor: pointer;
  }
  .media-img.coman-img.sub-category-card-img {
  
      height: 150px!important;
  }

button.owl-prev {
  transform: translateX(26px);
}

button.owl-next {
  transform: translateX(-26px);
}

.subcatgry-pkg-cont {
  margin: 8px -7.5px!important;
}
.container-fluid.subcat-fluid{
  padding:0px 0px!important;
}
.all-pack-slider.inner-row-package.sub-cat-row{
  margin-top: 0px!important;
  padding-top: 0px!important;
  padding-bottom: 20px;
}
.title-col.subcat-col{
  margin-bottom: 0px!important;
}
h2.subctegory-heading {
  font-size: 16px!important;
  padding: 9px 0px 1px 6px;
  width: 100%!important;
}
.subcategory-card-pkg{
  padding:4px!important;
}
.details.subcategory-details {
  height: 80px;
}
.details.subcategory-details h3{
  font-size: 13px!important;
  -webkit-line-clamp: 2!important;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
}
.rating-and-discount.subcatgry-discount h5 span {
  font-size: 12px!important;
}
.rating.subcatgry-rating svg{
  font-size: 15px!important;
  top:0px!important
}
.rating.subcatgry-rating span{
  font-size: 13px!important;
}
.price-and-btn.subcatgry-price h4 {
  font-size: 12px!important;
}
}
