.category-section-slider .media-img img {
  border-radius: 50%;
  width: 141px;
  text-align: center;
  margin: 8px auto;
  box-shadow: rgb(0 0 0 / 24%) 0px 0px 5px;
  padding: 25px;
}
.category-section-slider .owl-item.active.center {
  transform: scale(1.2);
  transition: 0.7s;
}
.category-section-slider .item {
  margin: 25px 0px;
  transition: 0.7s;
  transform: scale(0.9);
  text-align: center;
}
.category-section-slider .media-img img:hover {
  background: #f6f5f5;
  transform: scale(1.1);
  transition: 0.6s;
  box-shadow: rgb(100 100 111 / 20%) 0px 3px 11px 0px;
}

button.owl-prev {
  position: absolute !important;
  left: -15px !important;
  top: 40% !important;
  height: 45px !important;
  width: 45px !important;
  background-color: white !important;
  box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%) !important;
  display: flex !important;
  justify-content: center !important;
  border-radius: 50% !important;
  align-items: center !important;
}

button.owl-next {
  position: absolute !important;
  right: -15px !important;
  top: 40% !important;
  height: 45px !important;
  width: 45px !important;
  background-color: white !important;
  box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%) !important;
  display: flex !important;
  justify-content: center !important;
  border-radius: 50% !important;
  align-items: center !important;
}

button.owl-prev span {
  transform: translateY(-10%);
  font-size: 40px;
  line-height: 100%;
  vertical-align: middle;
}

button.owl-next span {
  transform: translateY(-10%);
  font-size: 40px;
  line-height: 100%;
  vertical-align: middle;
}

.category-section-slider h4 {
  font-size: 18px;
  text-align: center;
  font-weight: 400;
  margin-top: 10px;
  cursor: pointer;
}
.category-section-slider .media-img {
  cursor: pointer;
}
.category-section-slider {
  padding-top: 80px;
}
.common-container {
  padding: 30px;
  background: #f9f9f9;
  padding-top: 5px !important;
}
.common-container .container-fluid {
  background: #fff;
}
.common-container .container-fluid {
  box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%);
  border-radius: 5px;
  padding: 25px 20px;
}
.main-banner-section {
  background: #f9f9f9;
}
/* .category-section-slider {
 
} */

/* button.owl-prev span {
    background: #fff;
    line-height: 34px;
    border-radius: 50%;
    font-size: 43px;
    height: 45px;
    width: 45px;
    display: block;
    box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%);
    cursor: pointer;
}
button.owl-next span {
    background: #fff;
    line-height: 34px;
    border-radius: 50%;
    font-size: 43px;
    height: 45px;
    width: 45px;
    display: block;
    box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%);
    cursor: pointer;
} */

.owl-theme .owl-nav [class*="owl-"]:hover {
  background: #869791;
  color: #ffab02;
  text-decoration: none;
  border-radius: 50%;
  box-shadow: rgb(100 100 111 / 20%) 0px 3px 13px 0px;
  cursor: pointer;
}
.package-section-slider .package-col {
  box-shadow: rgb(0 0 0 / 16%) 0px 1px 4px;
  padding: 8px;
  margin: 0px;
  transition: 0.6s;
  cursor: pointer;
}
.package-section-slider .item {
  margin: 10px 5px;
}

.package-section-slider .package-col img {
  min-height: 275px;
  object-fit: cover;
  cursor: pointer;
  width: 100%!important;
}
.package-section-slider .media-img {
  position: relative;
  cursor: pointer;
}
.package-section-slider .details h3 {
  font-size: 16px;
  margin-top: 15px;
  font-weight: 500;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
  cursor: pointer;
}
.package-section-slider .details .price-and-btn {
  display: grid;
  grid-template-columns: 1fr 1fr;
  cursor: pointer;
}
.package-section-slider .details .price-and-btn {
  display: flex;
  margin: 10px 0px 5px;
  align-items: center;
  cursor: pointer;
}
.package-section-slider .details .price-and-btn h4 {
  width: 60%;
  margin-bottom: 0px;
  font-size: 16px;
  cursor: pointer;
}
.package-section-slider .details .price-and-btn button.btn {
  background: linear-gradient(135deg, #eccf66, #c59402);
  color: #fff;
  padding: 4px 15px;
  width: 40%;
  cursor: pointer;
}
.package-section-slider .details .price-and-btn h4 s {
  color: #e1be48;
  padding-left: 10px;
  cursor: pointer;
}
.package-section-slider .package-col .wishlist {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #fff;
  width: 38px;
  height: 38px;
  padding: 7px;
  border-radius: 50%;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
  z-index: 99;
  cursor: pointer;
}
.package-section-slider .package-col svg {
  font-size: 25px;
  color: #e5c454;
  cursor: pointer;
}
.package-section-slider .rating-and-discount {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0px 0px 0px;
  cursor: pointer;
}
.package-section-slider .rating-and-discount h5 {
  margin-bottom: 0px;
  cursor: pointer;
}
.package-section-slider .rating-and-discount .rating {
  float: right;
  text-align: right;
  cursor: pointer;
}
.package-section-slider .details .price-and-btn button.btn:focus {
  box-shadow: none;
}
.package-section-slider .rating-and-discount h5 {
  font-size: 18px;
}
.package-section-slider .rating-and-discount .rating span {
  padding-right: 5px;
  font-size: 18px;
  cursor: pointer;
}
.package-section-slider .rating-and-discount {
  align-items: center;
  cursor: pointer;
}
.package-section-slider .rating-and-discount .rating svg {
  font-size: 23px;
  top: -3px;
  position: relative;
  cursor: pointer;
}
.package-section-slider .package-col .details {
  padding-left: 5px;
  padding-right: 5px;
}
.package-section-slider .rating-and-discount {
  color: #e4c352;
}
.package-section-slider .title-col {
  display: flex;
  width: 100%;
}
.package-section-slider .title-col h2 {
  width: 70%;
  font-size: 24px;
  cursor: pointer;
}
.package-section-slider .more-btn {
  display: flex;
  width: 30%;
  justify-content: end;
}
.package-section-slider button.btn.more-btn {
  background: rgb(28, 25, 86);
  color: #fff;
  text-align: center !important;
  display: block;
  padding: 0px 0px !important;
  width: 120px;
  cursor: pointer;
}
.package-section-slider .more-btn svg {
  margin-left: 7px;
  position: relative;
  top: -2px;
  cursor: pointer;
}
.package-section-slider .title-col h2 {
  font-weight: 400;
}
.package-section-slider .title-col h2 span {
  color: #1c1956;
  font-weight: 600;
}
.package-section-slider.common-container {
  padding-bottom: 5px;
  padding-top: 0px;
  cursor: pointer;
}
.all-pack-slider .container-fluid {
  padding: 20px 20px 5px 20px;
  cursor: pointer;
}
.all-pack-slider {
  background: #f9f9f9;
  padding-bottom: 25px;
}
.package-section-slider .package-col:hover {
  -webkit-transform: scale(1.05) !important;
  transform: scale(1.05) !important;
  transition: 0.6s;
}
.category-section-slider .owl-nav.disabled {
  display: block;
}
.package-section-slider .media-img {
  max-height: 270px;
  overflow: hidden;
  cursor: pointer;
}
/* Media Query For tablet View */

@media only screen and (max-width: 991px) and (min-width: 768px) {

  
  .category-section-slider h4 {
    font-size: 15px;
    text-align: center;
    font-weight: 400;
    margin-top: 10px;
  }
  .category-section-slider .media-img img {
    border-radius: 50%;
    width: 80px;
    text-align: center;
    margin: 8px auto;
    box-shadow: rgb(0 0 0 / 24%) 0px 0px 5px;
    padding: 15px;
  }
  .category-section-slider {
    padding-top: 30px !important;
  }
  .main-banner-section .main_bottom_bar {
    position: relative;
    bottom: 0px;
  }
  /* button.owl-next span {
        background: #fff;
        line-height: 34px;
        border-radius: 50%;
        font-size: 32px;
        height: 40px;
        width: 40px;
        display: block;
        box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%);
    }
    button.owl-prev span {
        background: #fff;
        line-height: 34px;
        border-radius: 50%;
        font-size: 32px;
        height: 40px;
        width: 40px;
        display: block;
        box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%);
    } */
}

@media only screen and (max-width: 600px) {
  .package-section-slider .title-col h2 {
    width: 70%;
    font-size: 20px;
  }
  .package-section-slider .title-col {
    display: flex;
    width: 100%;
    align-items: center;
  }
  .package-section-slider .more-btn svg {
    margin-left: 1px;
  }
  .common-container {
    padding: 15px;
    background: #f9f9f9;
  }
  .main_bottom_bar_3 {
    display: none;
  }
  .main_bottom_bar_1 {
    width: 45%;
  }
  .main_bottom_bar_2 {
    width: 50%;
  }
  .category-section-slider.common-container {
    padding: 20px;
  }
  /* button.owl-prev span {
        background: #fff;
        line-height: 26px;
        border-radius: 50%;
        font-size: 40px;
        height: 38px;
        width: 38px;
        display: block;
        box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%);
    }

    button.owl-next span {
        background: #fff;
        line-height: 26px;
        border-radius: 50%;
        font-size: 40px;
        height: 38px;
        width: 38px;
        display: block;
        box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%);
    }
      */

  /* button.owl-prev {
        position: absolute;
        left: -16px;
        top: 40%;
        display: flex;
        height: 35px;
        width: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
    }

     button.owl-next {
        position: absolute;
        right: -15px;
        top: 40%;
        display: flex;
        height: 35px;
        width: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
    } */

  /* .category-section-slider button.owl-prev {
        position: absolute;
        left: -15px;
        top: 40%;
    }
    .category-section-slider button.owl-next {
        position: absolute;
        right: -15px;
        top: 40%;
    } */
  .package-section-slider button.btn.more-btn {
    padding: 5px 5px !important;
    width: 120px;
  }
  .all-pack-slider {
    padding-bottom: 0px;
  }
  .offer-section-slider.common-container {
    padding-top: 15px;
  }
  .package-section-slider.common-container {
    padding-bottom: 25px;
  }
  .tour-section-slider .container-fluid.common-container {
    padding-top: 10px !important;
  }
  

.category-section-slider .media-img img {
  width: 50px;
  padding: 5px;
 
}
.category-section-slider h4 {
  font-size: 10px;
}
.eRmJbc {
height: 35px!important;
min-width: 35px!important;
line-height: 0px!important;
font-size: 16px!important;
background-color: white!important;
color: #ffab02!important;
}
.khvUfi {
  height: 35px!important;
min-width: 30px!important;
line-height: 0px!important;
font-size: 16px!important;
background-color: white!important;
color: #ffab02!important;
}
}

@media only screen and (max-width : 900px){
  .category-section-slider .item {
    margin: 25px 0px;
    transition: 0.7s;
    transform: scale(1.1) !important;
    text-align: center;
  }
}