button.btn-close {
  margin-right: 10px !important;
  margin-bottom: 40px !important;
}

.mobileCancel {
  position: absolute;
  font-size: 20px;
  right: 0px;
  top: 0px;
  background: none;
  outline: none;
  border: none;
  color: white;
}
.mobileCancel:focus-visible {
  outline: none;
  border: none;
}
.mobileCancel:hover {
  background-color: #15124b !important;
  color: white;
}
.mobileguest .offcanvas-header {
  color: #ffff;
  background-color: #15124b;
  padding: 5px 0px 30px 5px !important;
  height: 130px;
}
.mobileguest .offcanvas-header {
  padding: 0px;
  display: flex;
  align-items: center;
}
.mobileguest .offcanvas-header .offcanvas.Title {
  padding-left: 50px;
}
.mobileNavAccount {
  border-top: 1px solid #ffff !important;
  background-color: #15124b;
  display: flex;
}

.mobileNavAccount ul {
  width: 100%;
  padding: 0px;
  margin-bottom: 0px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}
.mobileNavAccount ul li {
  padding: 5px;
  font-size: 12px;
  color: #ffff;
  text-transform: capitalize;
}
.offcanvas-header .btn-close {
  padding: calc(var(--bs-offcanvas-padding-y) * 0.5)
    calc(var(--bs-offcanvas-padding-x) * 0.5);
  margin-top: calc(-0.9 * var(--bs-offcanvas-padding-y)) !important;
  margin-right: calc(-0.5 * var(--bs-offcanvas-padding-x));
  background-color: white !important;
  border-radius: 50px;
  color: black !important;
  outline: none !important;
  font-size: 14px;
  box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%) !important;
  opacity: 1 !important;
  margin-bottom: calc(-0.5 * var(--bs-offcanvas-padding-y));
}
.myaccount-profile {
  color: white;
  /* border-right: 1px solid white; */
  padding: 10px 10px;
  font-size: 14px;
  margin-bottom: 2px;
}
.dropdown-toggle::after {
  margin-top: 10px !important;
}
.nav-bar2-login {
  color: white;
  /* border-right: 1px solid white; */
  padding: 10px 30px;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 2px;
}
.myaccount-profile a {
  text-decoration: none;
  color: white !important;
  margin: 8px;
}
.myaccount-profile a :hover {
  color: white !important;
}
.logout-nav2 {
  position: absolute;
  background-color: white;
  justify-content: center;
  align-items: center;
  top: 19.7%;
  left: 1px;
  z-index: 101;
  font-weight: 700;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
  cursor: pointer;
}
.user_profiles {
  border: none;
  text-align: left;
  width: 100%;
  float: left;
  display: block;
  padding: 9px 20px;
  border-bottom: 1px solid #dcdcdc;
  cursor: pointer;
  font-weight: 700;
}
.user_profiles span {
  color: black !important;
}
.side-bar-login {
  text-decoration: none;
  color: white !important;
  font-size: 16px;
}
.side-bar-login:hover {
  color: white !important;
}
img.side-bar-user {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}
